.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  padding-block: 20px;
  font-size: 1.2rem;

  .logo {
    img {
      width: 100px;
    }
  }

  .deliver-to {
    margin-left: 20px;
    font-size: 1em;
    strong {
      display: block;
      font-size: 1em;
    }
  }

  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
    max-width: 50vw;
    margin-left: 40px;
    margin-right: auto;

    select {
      padding: 8px;
      border: none;
      border-radius: 4px 0 0 4px;
    }

    input[type="text"] {
      flex-grow: 1;
      padding: 8px;
      border: none;
    }

    button {
      padding: 8px;
      background-color: #febd69;
      border: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;

    .nav-item {
      padding: 0 10px;
      text-align: center;

      &:hover {
        color: #febd69;
      }

      strong {
        display: block;
        font-size: 1em;
      }
    }

    .cart {
      display: flex;
      align-items: center;
      font-size: 1.3em;
      .cart-icon {
        font-size: 1.1em;
      }
    }
  }
}
